.header {
    height: 40px;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.brandName h2{
    color: #5BB5A2;
}

.brandLinks{
    display: flex;
    flex-direction: row;
}

.singleBrandLinks{
    margin: 0px 10px;
}

.brandBtn{
    height: 4.5vh;
    width: 5vw;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
}

.brandBtn:hover{
    background-color: rgba(231, 231, 231, 0.77);
}

.brandBtn{
    height: 4.5vh;
    width: 5vw;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.brandButtons button{
    margin: 0px 10px;
}

.brandBtnLogin{
    color: #5BB5A2;
}
.brandBtnLogin:hover{
    background-color: #489c8a;
    color: white;
}

.brandBtnOpenAccount{
    width: 7vw;
    background-color: #5BB5A2;
    color: white;
}

.brandBtnOpenAccount:hover{
    background-color: #489c8a;
}